.navbar-expand-lg{
margin: 10px;

}

.logo{
    background-color: #e5e5e5;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.133), -3px -3px 3px #fff7;
 
}

.logo .navbar-brand{
    color: black;
    color: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 4.5s linear infinite;

}
#basic-navbar-nav{
    justify-content: space-between;
  
}



.navbar-light .navbar-brand{
    padding: 30px;

}
.search-tengah{
    display: flex;
    justify-content: center;
   min-width: 30vw;
   border-radius: 5px;
   box-shadow: inset 5px 5px 5px #0002,  -2px -2px 2px #fff7;
    
}

.btn-primary{
    background-color: transparent;
}

input.form-control{
background-color:transparent;

}

@media screen and (max-width: 970px) {
    .search-tengah{
        display: flex;
        justify-content: center;
      
        width: 10vw;
        
    }
    .navbar-dark .navbar-brand {

        display: none;
      
    }

    input.form-control{
        background-color:transparent;
        display: none;
        }
  }



  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }