.navbar-expand-lg{
margin: 10px;

}
<<<<<<< HEAD

=======
.logo{
    background-color: black;
}
>>>>>>> b5fe3c705353f398ad9e2c0242f7d320b6a4377a
.search-tengah{
    display: flex;
    justify-content: center;
    margin:0 20vw;
    min-width: 40vw;
    
}

.btn-primary{
    background-color: transparent;
}

input.form-control{
background-color:transparent;

}

@media screen and (max-width: 970px) {
    .search-tengah{
        display: flex;
        justify-content: center;
      
        width: 10vw;
        
    }
    .navbar-dark .navbar-brand {

        display: none;
    }

    input.form-control{
        background-color:transparent;
        display: none;
        }
  }