
div.modal-content{

    background-color: rgb(21, 28, 38);
    color:#fff;
    border: 5px #fff solid;
    height: 60vh;
}

.modal-header , span {

    background-color: rgb(21, 28, 38);
    color:#fff;
}


.modal-body {

    background-color: rgb(21, 28, 38);
    color:#fff;
}

.modal-footer {background-color: rgb(21, 28, 38);
    color:#fff;}

    .btn-kebawah{
        
        width: 100px;
        height: 100px;
        border-radius: 30px;
        }