
div.modal-content{

    background-color: rgb(21, 28, 38);
    color:#fff;
    border: 5px #fff solid;
    height: 60vh;
}

.modal-header , span {

    background-color: rgb(21, 28, 38);
    color:#fff;
}


.modal-body {

    background-color: rgb(21, 28, 38);
    color:#fff;
}

.modal-footer {background-color: rgb(21, 28, 38);
    color:#fff;}

    .btn-kebawah{
        
        width: 100px;
        height: 100px;
        border-radius: 30px;
        }

        .btn-kanan{
            box-shadow: 5px 5px 5px #0002, -5px -5px 5px #fff7;
            animation: Opacity 0.2s linear;
            border-radius: 10px;
            

        }